X_cursor
all-scroll
bottom_left_corner
cell
copy
crosshair
dnd-ask
ew-resize
grab
hand2
nesw-resize
ns-resize
pointer
right_side
sb_h_double_arrow
sw-resize
top_side
zoom-in
alias
bottom_right_corner
col-resize
cross
fd_double_arrow
grabbing
n-resize
no-drop
nw-resize
row-resize
sb_v_double_arrow
tcross
top_left_corner
vertical-text
zoom-out
all-resize
bd_double_arrow
bottom_side
context-menu
cross_reverse
diamond_cross
e-resize
fleur
hand1
left_side
ne-resize
nwse-resize
question_arrow
s-resize
se-resize
text
top_right_corner
w-resize
xterm
